{% extends 'baseBoutiquePanier.html.twig' %}

{% block title %}Le stock{% endblock %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{ asset('assets/css/resetcss.css') }}"/> #}
<link rel="stylesheet" href="{{ asset('assets/css/boutique.css') }}"/>
{% endblock %}

{% block body %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="{{ path('public') }}" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({{ asset('assets/img/bg-img/38.jpg') }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">ADMIN : Stock</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{{ path('public') }}"><i class="icon_house_alt"></i> Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Boutique</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <h1>Stock : Page d'accueil</h1>

    <div class="adminActions">
        <a class="see" href="{{ path('produit_index') }}"><i class="fas fa-eye"></i> Voir produits</a>
        <a class="see" href="{{ path('photo_index') }}"><i class="fas fa-eye"></i> Voir photos</a>
        <a class="add" href="{{ path('magasin_new') }}"><i class="fas fa-plus"></i> Créer une nouvelle ligne</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nom produit</th>
                    <th>Quantite</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for magasin in magasins %}
                <tr>
                    <td>{{ magasin.id }}</td>
                    <td>{{ magasin.produits.titre }}</td>
                    <td>{{ magasin.quantite }}</td>
                    <td>
                        <div class="adminActions">
                            {# <a href="{{ path('magasin_show', {'id': magasin.id}) }}"><i class="fas fa-eye"></i></a> #}
                            <a class="edit" href="{{ path('magasin_edit', {'id': magasin.id}) }}"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">aucune ligne trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# <a href="{{ path('magasin_new') }}"><i class="fas fa-plus"></i> Créer une nouvelle ligne</a> #}
{% endblock %}

{% block javascripts %}
<script src="https://kit.fontawesome.com/a6c47b94c8.js" crossorigin="anonymous"></script>
{% endblock %}