{{ form_start(form) }}
        <div class="row">
            <div class="col-12 ">
                {{ form_row(form.message) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.idParent) }} 
            </div>
            <div class="col-12 col-md-6">
                {{ form_widget(form.users, { 'attr': {'class': 'hidden-row'} }) }}
            </div>
            <div class="col-12">
                <button class="btn alime-btn btn-2 mt-15">{{ button_label|default("Envoyer") }}</button>
            </div>
        </div>
{{ form_end(form) }}