{% extends 'baseBoutique.html.twig' %}

{% block title %}VolleyWood | Boutique{% endblock %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{ asset('assets/css/resetcss.css') }}"/> #}
<link rel="stylesheet" href="{{ asset('assets/css/boutique.css') }}"/>
{% endblock %}

{% block body %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="{{ path('public') }}" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(../assets/img/bg-img/38.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">La boutique</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{{ path('public') }}"><i class="icon_house_alt"></i> Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Boutique</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

<section class="container">
    <section class="containerProduits">
        <aside class="panier">
            <a href="#"><i class="fas fa-shopping-basket"></i> Mon panier <span class="nbProdPanier">(0)</span></a>
        </aside>

        <h1>Liste de nos produits</h1>
        <aside>
			<ul>
				<li><a href="#">Par catégorie</a></li>
				<li class="active"><a href="#">Voir tout</a></li>
			</ul>	        
        </aside>
        <ul class="listeProduits">
            {% for produit in produits %}
            <li>
                <figure>
                    <a href="{{ path('produitId', {'id': produit.id}) }}">
                    <img src="{{ asset('assets/img/produits/'~produit.photos[0].nom) }}" alt="{{ produit.photos[0].description }}" />
                    </a>
                    <p class="panierClick">
                        <a href="#"><i class="fas fa-shopping-basket"></i> Mettre au panier</a>
                        <a href="{{ path('produitId', {'id': produit.id}) }}"><i class="far fa-eye"></i></a>
                    </p>
                    <figcaption>
                        <h3>{{ produit.categorie }}</h3>
                        <h2>{{ produit.titre }}</h2>


                        {% if produit.taille %}
                            <p>Taille disponible :</p>
                            {% set tailleDispoTAB = produit.taille|split(';') %}
                            <p>
                            {% for tailleDispo in tailleDispoTAB %}
                                 <span class="taille">{{ tailleDispo }}</span>
                            {% endfor %}
                            </p>
                        {% endif %}

                        {% if produit.couleur %}
                            <p>Couleur disponible :</p>
                            {% set couleurDispoTAB = produit.couleur|split(';') %}
                            <p>
                            {% for couleurDispo in couleurDispoTAB %}
                                 <span class="couleur" style="background-color: {{ couleurDispo }}">  </span>
                            {% endfor %}
                            </p>
                        {% endif %}

                        <p class="prix">{{ produit.prixVente }} €</p> 

                        <p class="panierClickFooter">
                            <a href="#"><i class="fas fa-shopping-basket"></i> Mettre au panier</a>
                            <a href="{{ path('produitId', {'id': produit.id}) }}"><i class="far fa-eye"></i></a>
                        </p>
                    </p>
                    </figcaption>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </section>
</section>

{% endblock %}

{% block javascripts %}
<script src="https://kit.fontawesome.com/a6c47b94c8.js" crossorigin="anonymous"></script>
{% endblock %}