{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">

    <section>
        <h3>FORMULAIRE D'ACTIVATION</h3>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            <p class="">{{ message }}</p>
        {{ form_end(form) }}
    </section>


</div>
{% endblock %}