{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="{{ path('public') }}" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/38.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Le Blog</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{{ path('public') }}"><i class="icon_house_alt"></i> Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <div class="alime-blog-area section-padding-80-0 mb-70">
        <div class="container">
            <div class="row">
                
                {% for article in articles %}
                        <!-- Single Blog Area -->
                        <div class="col-12 col-lg-4">
                            <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                                <!-- Post Thumbnail -->
                                <a href="{{ path('article_show', {'id': article.id}) }}" class="post-thumbnail"><img src="{{ asset('assets/img/article/'~article.apercu) }}" alt="Image d'aperçu de l'article"></a>
                                <!-- Post Catagory -->
                                <a href="{{ path('article_show', {'id': article.id}) }}" class="btn post-catagory">{{ article.titre }}</a>
                                <!-- Post Conetent -->
                                <div class="post-content">
                                    <div class="post-meta">
                                        <a href="#">{{ article.datePublication ? article.datePublication|date('Y-m-d') : '' }}</a>
                                        {% for commentaire in article.commentaires %}
                                            <a href="#">{{ article.commentaires | length}} Commentaires</a>
                                        {% else %}
                                            <a>Aucun commentaire</a>
                                        {% endfor %}
                                    </div>
                                    <a href="{{ path('article_show', {'id': article.id}) }}" class="post-title">{{ article.titre }}</a>
                                </div>
                            </div>
                        </div>
                {% else %}
                    <p>Article non trouvé</p>
                {% endfor %}
                


                

            </div>
        </div>
    </div>
    <!-- Blog Area End -->

{% endblock %}