{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area blog bg-img bg-overlay jarallax"
    style="background-image: url({{ asset('assets/img/bg-img/18.jpg') }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <a class="post-catagory">Article</a>
                    <h2 class="page-title">{{ article.titre }}</h2>
                    <div class="post-meta">
                        <a href="https://www.instagram.com/frankgouki/" class="post-author">FranckD.</a>
                        <a href="#"
                            class="post-date">{{ article.datePublication ? article.datePublication|date('Y-m-d') : '' }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Blog Details Area Start -->
<div class="alime--blog-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <!-- Blog Details Text -->
                <div class="blog-details-text">
                    <p>{{ article.description }}</p>
                    

                    <div class="my-5">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <img class="mb-10" src="{{ asset('assets/img/article/'~article.photo) }}"
                                            alt="Photo1 de l'article">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img class="mb-10" src="{{ asset('assets/img/article/'~article.photo2) }}"
                                            alt="Photo2 de l'article">
                                    </div>
                                    <div class="col-12">
                                        <img class="mb-10" src="{{ asset('assets/img/article/'~article.photo3) }}"
                                            alt="Photo3 de l'article">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <img class="mb-10" src="{{ asset('assets/img/article/'~article.photo4) }}" alt="Photo4 de l'article">
                            </div>
                        </div>
                    </div>
                </div>
                <p>{{ article.categorie }}</p>
                <!-- Post Author Area -->
                <div class="post-author-area mt-50 d-flex align-items-center justify-content-between">
                    <ul class="popular-tags">
                        <li><a class="badges-btn">BEACH-VOLLEY</a></li>
                        <li><a class="badges-btn">MARSEILLE</a></li>
                        <li><a class="badges-btn">VOLLEYBALL</a></li>
                    </ul>

                    <!-- Share Info -->
                    <div class="post-social-info d-flex align-items-center">
                        <p>Nous suivre :</p>
                        <a target="_blank" href="https://www.facebook.com/VolleywoodMarseille/"><i class="ti-facebook"
                                aria-hidden="true"></i></a>
                        <a target="_blank" href="https://twitter.com/goukinou2"><i class="ti-twitter-alt"
                                aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.youtube.com/user/goukinou2"><i class="ti-youtube"
                                aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.instagram.com/frankgouki/"><i class="ti-instagram"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Area End -->
    <div class="comment-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <!-- Comments Area -->
                    <div class="comment_area clearfix">
                        <h4 class="mb-30">Commentaires</h4>
                        {% for commentaire in article.commentaires %}
                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="{{ asset('assets/upload/'~ commentaire.users.avatar) }}" alt="image d'article" alt="auteur">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="w-50 comment-meta">
                                        <a href="#" class="post-date">{{commentaire.datePublication | date('Y-m-d')}}</a>
                                        {{ include('commentaire/_delete_form.html.twig') }}
                                        <h5>{{ commentaire.users.pseudo }}</h5>
                                        <p>{{ commentaire.message }}</p>
                                        <a href="#" class="like">J'aime</a>
                                        <a href="#" class="reply">Répondre</a>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        {% else %}
                            <tr>
                                <td colspan="6">Aucun commentaire</td>
                            </tr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
<!-- Comment Area Start -->

<div class="comment-area section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <!-- Comments Area -->
                <div class="comment_area clearfix">
                    <h4 class="mb-30"></h4>
                    <ol>
                        <!-- Leave A Reply -->
                        <div class="alime-contact-form mt-50">
                            <h4 class="mb-30">Rédigez votre commentaire</h4>
                            {{ form_start(commentForm) }}
                            <div class="row">
                                <div class="col-12 ">
                                    {{ form_row(commentForm.message) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(commentForm.idParent) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_widget(commentForm.users, { 'attr': {'class': 'hidden-row'} }) }}
                                </div>
                                <div class="col-12">
                                    <button
                                        class="btn alime-btn btn-2 mt-15">{{ button_label|default("Envoyer") }}</button>
                                </div>
                            </div>
                            {{ form_end(commentForm) }}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {# <button class="btn alime-btn btn-2 mt-15">
        <a href="{{ path('article_index') }}">Liste des articles</a>
    </button>

    <button class="btn alime-btn btn-2 mt-15">
        <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
    </button> #}

    {# {{ include('article/_delete_form.html.twig') }} #}



    {% endblock %}